.container {
    display: grid;
    grid-template-areas:
            'header header header'
            'head-link head-link head-link'
            'left-content right-content right-content'
            'footer footer footer';
}

@media only screen and (max-width: 500px){
    .container {
        display: grid;
        grid-template-areas:
                'header header header'
                'head-link head-link head-link'
                'right-content right-content right-content'
                'footer footer footer';
    }
}

.header {grid-area: header}
.head-link {grid-area: head-link}
.left-content {grid-area: left-content}
.right-content {grid-area: right-content}
.footer {grid-area: footer}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #CDCDCD;
}

.head-link {
    margin: 60px 0 0 0;
    background-color: #CDCDCD;
    text-align: center;
}

iframe {
    padding: 10px;
    box-sizing: border-box;
}

p {
    text-indent: 20px;
    text-align: justify;
    margin: 10px;
    font-size: 20px;
}

.left-content-1 {
    margin: 20px 0 0 0;
}

.right-content {
    margin: 20px;
}

.head-link a:hover{
    color: black;
}

.head-link a {
    text-decoration: none;
}

.footer {
    text-align: center;
    background-color: gainsboro;
}